@charset "UTF-8";
:root{
    --cor01: #f5f5f5;
    --cor02: #a5cbfe;
    --cor03: #619ef3;
    --cor05: #366ab2;
    --cor06: #111418;


    --fonte-destaque: Bebas;
    --fonte-padrao: Arial, Verdana ,Helvetica, sans-serif;
    --fonte-android: android;



}


@media screen and (min-width: 768px) and (orientation: portrait) {

    #burguer{
        display: none;

    }

    header{
        position: relative;
    }

    menu#burguermenu{
        position: static;
        display: block;
        width: 90vw;
    }
    header > menu > section{
        display: inline;
        background: transparent;
    }
    



    
    section#crshtml{
        position: relative;
        
    }
   section > ul.menuhover{
        position: absolute;
        width: 100px;
        left: 13%;
        background: #111418;
    }

    main{
        max-width: 768px;
        margin: auto;
    }

    section.imgcontainer > h1 {
        font-size: 36px;
        

    }
    section.imgcontainer{
        width: 450px;
    }
    
    


}

@media screen and (max-width: 1024px) and (orientation: landscape) {

    #burguer{
        display: none;

    }

    header{
        position: static;
    }

    menu#burguermenu{
        position: static;
        display: block;
        width: 90vw;
    }
    header > menu > section{
        display: inline;
        background: transparent;
    }

    header > menu > section#ex{
        display: inline-block;
        width: auto;
        
    }
    header > menu > section#dsf{
        display: inline-block;
        width: auto;
        
    }

    section#ex{
        position: relative;
    }

     section#ex > p{
        position: absolute;
        background-color: #111418;
        width: 200px;
        top: 25px;
        left: -50%;
    }
    
    section#ex > p > a:hover {
        color: #c6dcfa;
        padding: 5px;
    }

    section#dsf{
        position: relative;

    }

    section#dsf > p {
        position: absolute;
        background-color: #111418;
        width: 200px;
        top: 25px;
        left: -50%;
        
    }

    section#dsf > p > a:hover{
        
        color: #c6dcfa;
        padding: 5px;

    }
    
    section#crshtml{
        position: relative;
        
    }
   section > ul.menuhover{
        position: absolute;
        width: 100px;
        left: 13%;
        background: #111418;
    }

    main{
        max-width: 768px;
        margin: auto;
    }

    section.imgcontainer > h1 {
        font-size: 36px;

    }
    section.imgcontainer{
        width: 450px;
    }


}

@media screen and (min-width: 1000px) {
    #burguer{
        display: none;

    }

    header{
        position: static;
    }

    menu#burguermenu{
        position: static;
        display: block;
        width: 90vw;
    }
    header > menu > section{
        display: inline;
        background: transparent;
    }

    header > menu > section#ex, section#dsf{
        display: inline-block;
        width: auto;
        
    }
    header > menu > section#dsf{
        display: inline-block;
        width: auto;
        
    }

    section#ex{
        position: relative;
    }

     section#ex > p{
        position: absolute;
        background-color: #111418;
        width: 200px;
        top: 25px;
        left: -50%;
    }
    
    section#ex > p > a:hover {
        color: #c6dcfa;
        padding: 5px;
    }

    section#dsf{
        position: relative;

    }

    section#dsf > p {
        position: absolute;
        background-color: #111418;
        width: 200px;
        top: 25px;
        left: -50%;
        
    }

    section#dsf > p > a:hover{
        
        color: #c6dcfa;
        padding: 5px;

    }
    
    section#crshtml{
        position: relative;
        
    }
   section > ul.menuhover{
        position: absolute;
        width: 100px;
        left: 13%;
        background: #111418;
    }

    main{
        max-width: 768px;
        margin: auto;
    }

    section.imgcontainer > h1 {
        font-size: 36px;

    }
    section.imgcontainer{
        width: 450px;
    }
    
}
    