@charset "UTF-8";



@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
    font-weight: normal;

}

@font-face {
    font-family: Bebas;
    src: url(../fontes/Bebas_Neue/BebasNeue-Regular.ttf);
}


:root{
    --cor01: #f5f5f5;
    --cor02: #a5cbfe;
    --cor03: #619ef3;
    --cor05: #366ab2;
    --cor06: #111418;


    --fonte-destaque: Bebas;
    --fonte-padrao: Arial, Verdana ,Helvetica, sans-serif;
    --fonte-android: android;



}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor02);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor05) 20%, var(--cor06));
    margin: 0px;
    padding: 10px;
    color: white;
    padding-top: 1px;
    margin-bottom: 0px;
   
    font-family: var(--fonte-destaque);


}
header h1{
    text-align: center;
    margin-top: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

header > p{
    text-align: center;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 10px;
}

#burguer{
    display: block;
    cursor: pointer;
}
menu#burguermenu{
    display: none;

}

header {
    position: relative;
}
header menu{
    position: absolute;
}
header > menu > section{
    text-align: center;
    width: 90vw;
    padding: 5px;

    display: block;
    background: var(--cor06);

}



header > menu > a{
    color: #a5cbfe;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
}
header > menu > section > a{
    color: #a5cbfe;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
    
}
header > menu > a:hover{
    background-color: #6882a098;
    padding: 5px;
    border-radius: 3px;
    
}
header > menu > section > a:hover{
    background-color: #6882a098;
    padding: 5px;
    border-radius: 3px;
    
}
header > menu > section > ul > a{
    color: white;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
    
}
header > menu > section > ul > a > li:hover{
    color: #c6dcfa;
    padding: 5px;
    
    
}

header section{
    display: inline;
    
}
header section>ul{
    display: none;
}
header section:hover > ul{
    display: block;
    max-width: 140px;
    list-style-position: inside;
    padding: 10px;
    transition: all 0.5s;
    
}

header section{
    display: inline;
    
}
header section > p > .oculto{
    display: none;
}
header section:hover > p > .oculto{
    display: inline-block;
    max-width: 140px;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
    padding: 10px;
    
    color: var(--cor01);
    
}

header section > p > .oculto:hover{
    color: #c6dcfa;
    
}

main {
    background-color: var(--cor01);
    padding: 10px;
}

main h1{
    background-image: linear-gradient(to right, var(--cor02) 20%, var(--cor01));
    padding: 2px;
    font: bold 35px var(--fonte-destaque);
    color: #111418;
    text-align: center;
    margin-bottom: 5px;

}

main h2{
    color: #294f85e7;
    font: bold 28px var(--fonte-destaque);
}

main h3{
    color: #294f85e7;
    font: bold 22px var(--fonte-destaque);
}

main p {
    font: normal 18px var(--fonte-padrao);
    line-height: 25px;
}

main a{
    background-color: #bfdbff85;
    padding: 4px;
    text-decoration: none;
    color: #1c375e;
    font-weight: bold;

}

a.aimg{
    background-color: transparent;
}
section.imgcontainer{
    display: block;
    margin: auto;
    border: 2px solid var(--cor02);
    height: 25vh;
    width: 450px;
    
}
p.imgconteudo{
    
    text-align: center;
    
}