@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
    font-weight: normal;

}

@font-face {
    font-family: Bebas;
    src: url(../fontes/Bebas_Neue/BebasNeue-Regular.ttf);
}


:root{

    --cor01: #ffff;
    --cor02: #a5cbfe;
    --cor03: #619ef3;
    --cor05: #366ab2;
    --cor06: #111418;


    --fonte-destaque: Bebas;
    --fonte-padrao: Arial, Verdana ,Helvetica, sans-serif;
    --fonte-android: android;


}

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0d1d33;
    font-family: var(--fonte-destaque);
    max-height: 500px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: var(--cor06);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;

}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;

}
form input:focus{
    border-radius: 10px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 10px;

}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    margin-top: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #111418;
    border: 2px solid #111418;
    border-radius: 10px;
}

main#pg2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0d1d33;
    flex-direction: column;
}
main#pg2 h1{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
main#pg2 p{
    color: #f5f5f5;
    margin-bottom: 50px;
}
#btn{
    padding: 15px 55px;
    background-color: #f5f5f5;
    
    font-size: 18px;
    transition: all 0.5s;


}
#btn a{
    text-decoration: none;
    color: #111418;

}
#btn:hover{
    border-radius: 10px;
}