@charset "UTF-8";

@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
    font-weight: normal;

}

@font-face {
    font-family: Bebas;
    src: url(../fontes/Bebas_Neue/BebasNeue-Regular.ttf);
}


:root{
    --cor01: #f5f5f5;
    --cor02: #a5cbfe;
    --cor03: #619ef3;
    --cor05: #366ab2;
    --cor06: #111418;


    --fonte-destaque: Bebas;
    --fonte-padrao: Arial, Verdana ,Helvetica, sans-serif;
    --fonte-android: android;



}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor02);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor05) 20%, var(--cor06));
    margin: 0px;
    padding: 10px;
    color: white;
    padding-top: 1px;
    margin-bottom: 0px;
   
    font-family: var(--fonte-destaque);


}
header h1{
    text-align: center;
    margin-top: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

header > p{
    text-align: center;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 10px;
}
header > menu > a{
    color: #a5cbfe;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
}
header > menu > section > a{
    color: #a5cbfe;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
    
}
header > menu > a:hover{
    background-color: #6882a098;
    padding: 5px;
    border-radius: 3px;
    
}
header > menu > section > a:hover{
    background-color: #6882a098;
    padding: 5px;
    border-radius: 3px;
    
}
header > menu > section > ul > a{
    color: white;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
    
}
header > menu > section > ul > a > li:hover{
    color: #c6dcfa;
    padding: 5px;
    
    
}

header section{
    display: inline;
    
}
header section>ul{
    display: none;
}
header section:hover > ul{
    display: block;
    max-width: 140px;
    list-style-position: inside;
    padding: 10px;
    transition: all 0.5s;
    
}

header section{
    display: inline;
    
}
header section > p > .oculto{
    display: none;
}
header section:hover > p > .oculto{
    display: inline-block;
    max-width: 140px;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
    padding: 10px;
    
    color: var(--cor01);
    
}
header nav section .oculto:hover{
    background-color: transparent;
    color: #b4bcc5fb;
    padding: 5px;
    border-radius: 3px;
}


main{
    min-width: 250px;
    max-width: 1000px;
    background-color: var(--cor01);
    margin: auto;
    
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    border-radius: 2px;

}

main strong{
    color: #111418;
}
main a{
    background-color: #bfdbff85;
    padding: 3px;
    text-decoration: none;
    color: #1c375e;
    font-weight: bold;
    
}

main h1{
    font-family: var(--fonte-destaque);
    margin-top: 3px;
    color: #0e1b2ee7;
    text-align: center;
    background-image: linear-gradient(to right, #6eadffc3, transparent );
    font-size: 36px;
}
main h2{
    font-family: var(--fonte-destaque);
    font-size: 28px;
    padding: 5px;
    color: #142742cb;
}
main h3{
    font-family: var(--fonte-destaque);
   font-size: 20px;
    padding: 5px;
    color: #142742cb;
}
main ul{
    list-style-position: inside;
    margin: 10px;
    font-family: var(--fonte-destaque);
    font-size: 18px;

}

main ul li{
    margin: 5px;
}
p{
    margin: 5px;
}
div.video{
    border: 5px solid var(--cor03);
    margin: 0px -10px 30px -10px;
    padding: 5px;
    padding-bottom: 40%;
    max-width: 1001px;
    

    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 12%;
    left: 22%;
    width: 56%;
    height: 76%;

}



main section{
    border: 3px solid var(--cor03);
    height: 192px;
}
.aimg{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    transition: 0.5s all;
}

.aimg:hover{
    border-radius: 5px;
}
.imgcontainer{
    
    position: relative;
    padding: 0px;
}
.imgconteudo{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}