@charset "UTF-8";
@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
    font-weight: normal;

}

@font-face {
    font-family: Bebas;
    src: url(../fontes/Bebas_Neue/BebasNeue-Regular.ttf);
}


:root{
    --cor01: #ffff;
    --cor02: #a5cbfe;
    --cor03: #619ef3;
    --cor05: #366ab2;
    --cor06: #111418;

    --fonte-destaque: Bebas;
    --fonte-padrao: Arial, Verdana ,Helvetica, sans-serif;
    --fonte-android: android;



}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor02);
    margin: 0px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    

}
a.externo::after{
    content: '\00A0\1F517';
}
p{
    margin: 15px 2px;
    line-height: 1.5em;
}
header{
    background-image: linear-gradient(to bottom, var(--cor05) 20%, var(--cor06));
    margin: 0px;
    padding: 10px;
    color: white;
    padding-top: 1px;
   
    font-family: var(--fonte-destaque);


}
header > h1{
    text-align: center;
    margin-top: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}
header > p{
    text-align: center;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 10px;
}
header > nav > a{
    color: #a5cbfe;
    text-decoration: none;
    margin: 10px;
    margin-right: 15px;
    
}
header > nav > a:hover{
    background-color: #6882a098;
    padding: 5px;
    border-radius: 3px;
    
}
main{
    min-width: 250px;
    max-width: 1000px;
    background-color: var(--cor01);
    margin: auto;
    
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    border-radius: 2px;

}
main strong{
    color: #111418;
}
main a{
    background-color: #bfdbff85;
    padding: 6px;
    text-decoration: none;
    color: #1c375e;
    font-weight: bold;
}
main img{
    width: 100%;
    display: block;
    margin: auto;
}
main img.pequena{
    max-width: 350px;
    margin: auto;
    
}

main > article > h1{
    font-family: var(--fonte-android);
    margin-top: 3px;
    color: #142742cb;
}
main > article > h2{
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, #a5ccfebb, transparent );
    padding: 5px;
    color: #142742cb;
}

div.video{
    background-color: var(--cor02);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 55%;

    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside > h2{
    background-color: var(--cor06);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: var(--cor01);
    font-size: 1.5em;

}
aside{
    margin: 10px;
    background-color: #619ef38e;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.250);
    padding-bottom: 10px;
    
}
aside > h3{
    margin-left: 10px;
    margin-top: 5px;

}
aside > p{
    margin-left: 10px;
    margin-bottom: 5px;
}
aside ul{
    list-style-position: inside;
    
}

aside li{
    margin: 5px ;
    list-style-type: '\2714\00A0\00A0';
}
footer{
    background-color: #1c375e;
    color: var(--cor01);
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}
footer > p{
    margin: 0px;
}